body {
  font-family: 'Open Sans', sans-serif;
  background-color: #eae9e9;
}

header{
  background-color: #f5f5f5;
  padding-bottom: 50px;
}


header .container {
  padding: 15px;
}

.products {
  margin-top: 20px;
  display:flex;
  flex-wrap: wrap;
}

.products .product-item {
  margin: 15px;
  width: calc(25% - 30px);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: white;
}
.products .product-item img{
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.products .product-item h3 {
  text-align: center;
  font-size: 14px;
  word-break: break-all;
  padding: 10px;
}
.products .product-item a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.products .product-item a:hover{
  color: darkred;
}
.up-main {
  background-color: #f5f5f5;
}
main {
  margin-bottom: 25px;
}
footer {
  margin-top: 25px;
  background-color: #173850;
  padding: 15px;
  color: white;
}

.footer-2 {
  text-align: center;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}
.contacts {
  display: flex;
  font-size: 25px;
  justify-content: space-between;
}

.text-contacts a{
  text-decoration: none;
}

.products .product-item button{
  margin-right: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.product-info-below {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}
.section a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 20px 0px;
  margin-left: 10px;
  font-size: 30px;
  text-align: left;
}

.section h3{
  margin-top: 20px;
}

.products .product-item .price-container .price a{
  font-size: 25px;
  margin-left: 25px;
  color: darkred;
}

.products .product-item .price-container .product-count {
  font-size: 15px;
  margin-left: 25px;
  color: #555555;
}

.login-form {
  background-color: #fff;
  width: 400px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input-container {
  margin-bottom: 15px;
}

.input-container input {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px;
  transition: 1s;
}

.login-form .input-container a {
  text-decoration: none;
  color: dodgerblue;
  font-size: 80%;
}

.login-form .input-container a:hover {
  color: #f5ae00;
}

.login-form .input-container input {
  font-size: 80%;
}

.login-form h1{
  font-size: 200%;
  padding: 20px;
}

select {
  border-radius: 4px;
}

.carousel {
  margin: auto;
  width: 1200px;
  border-radius: 55px 55px 55px 55px;
  overflow: hidden;
  margin-bottom: 50px;
}

.cart {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #364364;
  transition: 0.1s;
  cursor: pointer;
  position: fixed; /* Фиксированное расположение */
  bottom: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Увеличиваем кнопку при наведении на нее */
.cart:hover {
  transform: scale(1.1);
}

/* Стилизуем счетчик товаров */
.cart-num {
  position: absolute;
  background-color: #d62240;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  top: -5px;
  right: -5px;
}

.navbar-nav .nav-link {
  margin-right: 20px;
  margin-left: 20px;
}

/*.btn-group .btn{*/
/*  background-color: #f5f5f5;*/
/*  margin: 5px;*/
/*  padding-left: 10px;*/
/*  border: none;*/
/*  color: black;*/
/*}*/

/*.btn-group {*/
/*  width: 100%;*/
/*  max-width: 1200px;*/
/*  margin-bottom: 50px;*/
/*}*/

.nav-center {
  width: 100%;
  justify-content: center;
}

.mb {
  margin-bottom: 50px;
}

.ml {
  margin-left: 50px;
}

.at {
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
}

.text-animation {
  color: black;
  font-size: larger;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.text-animation:hover {
  color: darkred;
}

.errors {
  color: red;
}

